.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  margin: 0;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
  background-color: #fff5dd;
}
.home-form {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  max-width: 450px;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-description {
  font-family: monospace;
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 2%;
}
.home-title {
  font-family: monospace;
  font-size: 4rem;
  color: #181818;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 2%;
}
.home-button {
  font-family: monospace;
  font-size: 1rem;
  margin: 2%;
  color: #ffffff;
  background-color: #505050;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.home-h2 {
  font-family: monospace;
  font-size: 1.5rem;
  color: #000000;
}
.home-p {
  margin: 7px;
  font-family: monospace;
  font-size: 1rem;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-para {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-copy {
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  color: #000000;
  margin: 0;
  padding: 2%;
}
.mongo-button {
  width: 170px;
  font-family: monospace;
  font-size: 1rem;
  margin: 2%;
  color: #ffffff;
  background-color: #00c607;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sql-button {
  width: 170px;
  font-family: monospace;
  font-size: 1rem;
  margin: 2%;
  color: #ffffff;
  background-color: #0087c6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#username {
  font-family: monospace;
  background-color: #ffffff;
  color: #181818;
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border: 0px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
}
#password {
  font-family: monospace;
  background-color: #ffffff;
  color: #181818;
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border: 0px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
}
.image {
  width: 5.5rem;
  height: 5.5rem;
  padding: 3%;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #3c3c3c;

  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
